@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary-violet: #5f3882;
  --color-primary-blue: #273c7c;
  --color-primary-white: #fff;

  /*colors for choice cards*/
  --color-card-eco-top: #e0f2e9;
  --color-card-eco-bottom: #8bc34a;
  --color-card-tehno-top: #e1f5fe;
  --color-card-tehno-bottom: #29b6f6;
  --color-card-care-top: #fffde7;
  --color-card-care-bottom: #fbc02d;

  --text-sub-title: clamp(1.75rem, 1.2rem + 2vw, 2.5rem);
  --text-section-title: clamp(1.5rem, 1.2rem + 1.5vw, 2.25rem);
  --text-list-item: clamp(1.2rem, 1rem + 0.5vw, 1.5rem);
  --text-main-text: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);

  --radius-main-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

.hero-section {
  height: 100dvh;
}

body {
  font-family: var(--font-fira-sans);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-kurale);
  font-weight: 400;
}
